.home-title-wrapp {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-grid-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

@media (max-width: 768px) {
  .home-grid-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .home-grid-cards {
    grid-template-columns: 1fr;
  }
}

.home-no-games {
  display: flex;
  width: 100%;
  justify-content: center;
}

.add-game-button {
  padding: 5px 10px;
  font-size: 16px;
  color: #fff;
  background-color: #38cacf;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-game-button:hover {
  background-color: #32a4a8;
}
